DATABASE_URL="postgresql://postgres:password@host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:password@host:5432/postgres"
SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SHOPIFY_APP_URL="https://localhost:3000"
SCOPES="write_orders,read_orders,read_products"
